{{title "Gaurav Munjal - Embereño" separator=" - "}}
{{head-layout app=this}}

<nav>
  <ul>
    <li>{{#link-to "index"}}Home{{/link-to}}</li>
    <li>{{#link-to "projects"}}Projects{{/link-to}}</li>
    <li>{{#link-to "resume"}}Resume{{/link-to}}</li>
  </ul>
</nav>
{{outlet}}
<footer>
  <ul>
    <li>
      <img src="/images/mail.png" width="20px" height="15px" alt="">
      Gaurav0 at aol dot com
    </li>
    <li>
      <a href="http://www.linkedin.com/pub/gaurav-munjal/4/245/722">
        <img src="/images/linkedin.png" width="16px" height="16px" alt="">
        LinkedIn
      </a>
    </li>
    <li>
      <a href="https://github.com/gaurav0">
        <img src="/images/github.png" width="20px" height="16px" alt="">
        Github
      </a>
    </li>
  </ul>
</footer>
