<h1>Projects</h1>
<ul class="tiles">
  {{#each this.model as |project|}}
    <li>{{#link-to "project" this}}<img src={{project.thumb}} alt=""><br>{{project.title}}{{/link-to}}</li>
  {{/each}}
</ul>
{{outlet}}